@import "/src/styles/mixins/colors.scss";

.select {
   background: #e4e4e4 0% 0% no-repeat padding-box;
   border-radius: 5px;
   opacity: 1;
   border: none;
   padding: 10px;

   option {
      color: #837d7d;
   }
}