@import "/src/styles/mixins/colors.scss";
@import '/src/styles/mixins/responsive.scss';

.button {
   &.primary {
      background-color: $green-color;
      color: $white-color;
      cursor: pointer;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      transition: 0.5s;
      font-weight: bold;

      &:hover {
         background-color: #0a8535;
         transition: 0.5s;
      }
   }

   &.secondary {
      background-color: $white-color;
      color: $purple-color;
      cursor: pointer;
      padding: 20px 70px;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      transition: 0.5s;
      font-weight: bold;
      width: fit-content;

      &:hover {
         background-color: #b0b0b0;
         transition: 0.5s;
      }
   }

   &.full {
      background-color: #0dc74f;
      border: none;
      color: #ffffff;
      padding: 15px;
      width: 100%;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
         background-color: #0a8535;
         transition: 0.5s;
      }
   }
}

@include mobile {
   .button {
      &.secondary {
         width: 100%;

         &:hover {
            background-color: #b0b0b0;
            transition: 0.5s;
         }
      }
   }
}