@import "/src/styles/mixins/colors.scss";

.button {
   padding: 15px 50px;
   border-radius: 5px;
   font-size: 16px;
   font-weight: bold;
   border: none;
   width: fit-content;

   &.primary {
      background-color: $green-color;
      color: $white-color;
   }

   &.secondary {
      background-color: $white-color;
      color: $purple-color;
   }
}