@import "/src/styles/mixins/colors.scss";

.featuresContainer {
   padding: 30px 180px;
   width: 100%;
   background-color: $purple-color;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;

   .featuresTitle {
      text-align: center;
      font-size: 65px;
      letter-spacing: 0px;
      color: $white-color;
      opacity: 1;
   }

   .featuresDescription {
      text-align: center;
      font-size: 22px;
      letter-spacing: 0px;
      color: $gray-color;
      opacity: 1;
   }
}