@import "/src/styles/mixins/colors.scss";

.featuresContainer {
   padding: 0 200px 0 200px;
   width: 100%;
   background-color: $purple-color;
   height: 70vh;

   .featuresWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      gap: 50px;

      .featuresTitle {
         text-align: center;
         font-size: 60px;
         letter-spacing: 0px;
         color: $white-color;
         opacity: 1;
         max-width: 60%;
      }

      .featuresDescription {
         text-align: center;
         font-size: 22px;
         letter-spacing: 0px;
         color: $gray-light-color;
         opacity: 1;
         max-width: 45%;
      }
   }
}