.overlay {
   background: rgba(242, 243, 245, 0.8);
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}

.modalContainer {
   background: white;
   width: 100%;
   max-width: 720px;
   padding: 2rem 3rem;
   border-radius: 20px;
   box-shadow: 0px 22px 20px -8px rgba(0, 0, 0, 0.25);
   text-align: center;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   svg {
      width: 64px;
      height: 64px;
      color: #E75757;
   }

   p {
      font-size: 2rem;
      color: #737674;
      margin-top: 24px;
   }
}

.okButtonContainer {
   width: 100%;
   margin-top: 56px;
   max-width: 304px;
   height: 64px;

   button {
      width: 100%;
   }
}