@import "/src/styles/mixins/colors.scss";

.footerContainer {
   background-color: hsl(279, 100%, 12%);
   padding: 70px 200px 0 200px;

   .footerWrapper {
      display: flex;

      .column {
         flex: 1;
      }

      .mainColumn {
         .logo {
            margin-bottom: 10px;
         }

         .phone {
            font-size: 26px;
            margin-bottom: 10px;
         }

         .email {}
      }
   }

   .allRightReserved {
      padding: 100px;
      padding-bottom: 10px;
      text-align: center;
   }
}