.overlay {
   background: rgba(242, 243, 245, 0.8);
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
}

.loading {
   display: inline-block;
   width: 50px;
   height: 50px;
   border: 3px solid;
   border-color: rgba(195, 195, 195, 0.6);
   border-radius: 50%;
   border-top-color: var(--primary-color);
   animation: spin 1s ease-in-out infinite;
   -webkit-animation: spin 1s ease-in-out infinite;

   @keyframes spin {
      to {
         -webkit-transform: rotate(360deg);
      }
   }

   @-webkit-keyframes spin {
      to {
         -webkit-transform: rotate(360deg);
      }
   }
}