@import "/src/styles/mixins/colors.scss";
@import '/src/styles/mixins/responsive.scss';

.menuFooterTitle {
   color: $green-color;
   font-size: 20px;
   margin-bottom: 20px;
}

.menuFooterList {
   list-style: none;

   .menuFooterItem {
      color: $white-color;
      margin-bottom: 8px;
      cursor: pointer;

      &:hover {
         text-decoration: underline;
      }
   }
}

@include mobile {
   .menuFooterTitle {
      color: $green-color;
      font-size: 18px;
      margin-bottom: 10px;
   }

   .menuFooterList {
      list-style: none;

      .menuFooterItem {
         color: $white-color;
         margin-bottom: 8px;
         cursor: pointer;

         &:hover {
            text-decoration: underline;
         }
      }
   }
}